body {
    background-color: darkblue;
    text-align: center;
}

h1 {
    background-color: blue;
    color: white;
}

main {
    background-color: darkblue;
}

.board {
    display: grid;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.squares {
    background-color: lightgray;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 100px;
    height: 100px;
}

.squares:hover {
    background-color: gray;
}

#square3 {
    border-right: none;
}

#square6 {
    border-right: none;
}

#square7 {
    border-bottom: none;
}

#square8 {
    border-bottom: none;
}

#square9 {
    border-right: none;
    border-bottom: none;
}

.currentPlayer {
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.text {
    color: white;
}

button {
    background-color: orange;
    color: white;
    width: 9%;
    height: 10%;
    border: 1px solid orange;
    border-radius: 10%;
}

@media screen and (max-width: 577px) {
    button {
        width: 20%;
    }
}

@media screen and (min-width: 768px) {
    button {
        width: 15%;
    }
}

@media screen and (min-width: 992px) {
    button {
        width: 13%;
    }
}

@media screen and (min-width: 1200px) {
    button {
        width: 10%;
    }
}

@media screen and (min-width: 1400px) {
    button {
        width: 8%;
    }
}
